@import url(https://fonts.googleapis.com/css?family=raleway);
@import url(https://fonts.googleapis.com/css?family=kanit);
* {
  margin: 0;
  // padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 16px;
  color: azure;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // background-image: linear-gradient(#e5be8a, #97692C);
}
.header{
  background-image: url("https://res.cloudinary.com/doqo7su1s/image/upload/v1667834577/joe_italy_extended_l2g0sb.jpg");
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-size: 100vw;
  // width: 100vw;
  // background-size: 100%;
  
}
.sectionHead{
  color: #464684;
  font-size:2.5rem;
}
.titleHead{
    color: #464684;
    margin-top: 15px;
    font-size: 2rem;
    word-wrap:break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.joe{
  text-align: right;
  font-family: kanit;
  font-size: 6em;
  color: azure;
  letter-spacing: 5px;
}
@media (max-width: 625px){
  .joe {
    font-size: 4em;
  }
}
@media (max-width: 450px){
  .joe {
    font-size: 3em;
  }
}
@media (min-width: 1000px){
  .joe{
  font-size: 8em;
  }
}
.tag{
  text-align: center;
  justify-content: space-around;
  font-family: kanit;
  font-size: 4em;
  color: azure;
  display: flex;
}
.tag h2{
  font-size: .5em;
}
@media (max-width:625px){
  .tag {
    font-size: 3em;
  }
}

@media (min-width:1000px){
  .tag h2 {
    font-size: 1em;
  }
}
.techList{
  margin-top: 15px;
  display: flex;
 grid-column: 1;
 justify-content: space-around;
}
@media (max-width:625px){
  .techList{
    display: none;
  }
}
.techSymbol{
  max-height: 80px;
  width: 100%;
  // max-width: 80px;
  height: auto ;
}
.techList li{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.allLogo{
  width: 200px;
  position: relative;
}
@media (min-width:625px){
  .allLogo{
    display: none;
  }
}
// @media (max-width:625px){
//   .titleHead{
//     display: none;
//   }
// }
.professionalLinks {
 display: flex;
 justify-content: space-around;
 grid-column: 1;
 max-width: 750px;
 margin: auto;
 margin-top: 15px;
 position: relative;
}
@media (max-width:625px){
  .professionalLinks{
    width: 45%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column:inherit;
  }
}
.professionalLinks img{
  max-height: 85px;
}
@media (max-width:625px){
  .professionalLinks img {
    max-height: 75px;
  }
}
@media(max-width:625px){
.titleWhole{
  display: inline-flex;
  flex-wrap: wrap;
}}


.switch {
  width: 50px;
  background-color: #7676e3;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 8px;
  cursor: pointer;
  margin: auto;
}
.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 15px;
  height: 15px;
  background-color: rgb(112, 196, 245);
  border-radius: 40px;
}

.shortHist{
  max-width: 750px;
  width: 90%;
  margin: auto;
  font-family: Georgia;
  letter-spacing: .5px;
}
.shortHist p {
  font-size: 1.5rem;
  line-height:125%;
  color: black;
  padding-left: 15px;
  border-left: 3px dotted black;
}
@media(max-width:625px){
  .shortHist p {
    font-size: 1.1rem;
  }}
.shortHist strong {
  font-size: 1.5rem;
  font-style: italic;
  color: #7676e3;
}
@media(max-width:625px){
  .shortHist strong {
    font-size: 1.2rem;
  }}

.longHist{
  max-width: 750px;
  width: 90%;
  margin: auto;
  font-family: raleway;
  letter-spacing: .5px;
}
.longHist p {
  font-size: 1.5rem;
  line-height:125%;
  color: black;
  // font-weight: bold;
  padding-left: 15px;
  border-left: 3px dotted black;
  // background-color: #f4d6b0;
}
@media(max-width:625px){
  .longHist p {
    font-size: 1.1rem;
  }}
.longHist a{
  font-size: 1.5rem;
  font-weight: bold;
  line-height:125%;
  color: #7676e3
}
@media(max-width:625px){
  .longHist a {
    font-size: 1.2rem;
  }}
.longHist em {
  font-size: 1.5rem;
  color: #7676e3
}
.longHist h2 {
  color: black;
  font-size: 2rem;
}

.projectCard{
  display: inline-flex;
  width: 325px;
  height: auto;
  margin-left: 15px;
  background-color: #464684;
  margin-top: 25px;
  margin-bottom: 25px;
}
.projectCard a {
  color: #f4d6b0;
  display: block;
  padding-top: 5px;
}
.projectCard p {
  padding-top: 5px;
  width: 85%;
  margin: auto;
  z-index: 1;
}
.pCardTop{
  background-color: #CDC4DC
}
.pCardBot{
  position: relative;
  top: 15%;
  transform: translateY(-30%);
}
.projectGIF{
  max-height: 200px;
}

.projectSymbol{
  max-height: 25px;
  margin: 10px;
  width: auto;
}

.projectHead{
  font-size: 1.5rem;
  color: #464684;
}

.projectGithub img{
  max-height: 25px;
  background-color: #f4d6b0;
  border-radius: 50%;
}
.cardlanguages{
  position: relative;
  bottom: 1px;
}

.footer{
  background-color: #464684;
  height: 2rem;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  margin-top: 15px
}

.footwords{
  margin-left: 10px
}

