@import url(https://fonts.googleapis.com/css?family=raleway);

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.joe{
  text-align: center;
  font-family: fantasy;
  font-size: 5em;
}
.tag{
  font-family: fantasy;
  font-size: 1em;
}
.techList{
  display: flex;
  // flex-wrap: wrap;
 grid-column: 1;
 justify-content: space-around;
}
.techSymbol{
  max-height: 80px;
  width: 100%;
  // max-width: 80px;
  height: auto ;
}

.techList li{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.switch {
  width: 50px;
  background-color: rgba(201, 132, 242, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 8px;
  cursor: pointer;
  margin: auto;
}
.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 15px;
  height: 15px;
  background-color: rgb(72, 171, 228);
  border-radius: 40px;
}
.shortHist{
  max-width: 750px;
  margin: auto;
  font-family: "Raleway";
  font-size: larger;
  letter-spacing: .5px;
}
.shortHist h1{
  font-family: fantasy;
}

.projectCard{
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projectCard img{
  max-width:80px;
  margin: 15px;
}

